<form action="{% url 'annotations:submit' %}" method="post">
{% csrf_token %}
<fieldset>
	<legend><h1>{{ track_title }}</h1></legend>
	<p>Artist: {{ track_artist }}</p>
	<p>Album: {{ track_album }}</p>
	<input type='hidden' name='track_title' value="{{ track_title }}">
	<input type='hidden' name='track_artist' value="{{ track_artist }}">
	<input type='hidden' name='track_album' value="{{ track_album }}">
	<input type='hidden' name='spotify_id' value="{{ spotify_id }}">
	<input type="hidden" name="track_number" value="{{ track_number }}">
	<input type="hidden" name="total_tracks" value="{{ total_tracks }}">


	{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
	<input type="range" id="range_valence" name="range_valence" min="-1" max="1" step="0.01" value="0" oninput="this.form.amount_valence.value=this.value">
	<label for="valence">Valence</label>
	<input type="number" name="amount_valence" min="-1" max="1" step="0.01" value="0" oninput="this.form.range_valence.value=this.value"><br>

	<input type="range" id="range_energy" name="range_energy" min="-1" max="1" step="0.01" value="0" oninput="this.form.amount_energy.value=this.value">
	<label for="energy">Energy</label>
	<input type="number" name="amount_energy" min="-1" max="1" step="0.01" value="0" oninput="this.form.range_energy.value=this.value">

	<div><p>Geneva Emotional Music Scales (GEMS)</p>
		<input type="checkbox" id="amazement" name="amazement" value=True>
		<label for="amazement">Amazement: Feeling of wonder and happiness</label><br>

		<input type="checkbox" id="solemnity" name="solemnity" value=True>
		<label for="solemnity">Solemnity: Feeling of transcendence, inspiration, thrills</label><br>

		<input type="checkbox" id="tenderness" name="tenderness" value="True">
		<label for="tenderness">Tenderness: Sensuality, affect, feeling of love</label><br>

		<input type="checkbox" id="nostalgia" name="nostalgia" value="True">
		<label for="nostalgia">Nostalgia: Dreamy, melancholic, sentimental feelings</label><br>

		<input type="checkbox" id="calmness" name="calmness" value="True">
		<label for="calmness">Calmness: Relaxation, serenity, meditativeness</label><br>

		<input type="checkbox" id="power" name="power" value="True">
		<label for="power">Power: Feeling strong, heroic, triumphant, energetic</label><br>

		<input type="checkbox" id="joy" name="joy" value="True">
		<label for="joy">Joyful activation: Feels like dancing, bouncy feeling, animated, amused</label><br>

		<input type="checkbox" id="tension" name="tension" value="True">
		<label for="tension">Tension: Nervous, impatient, irritated</label><br>

		<input type="checkbox" id="sadness" name="sadness" value="True">
		<label for="sadness">Sadness: Depressed, sorrowful</label><br>
	</div>

	<div>
		<p>MIREX Mood Clusters</p>
		<input type="radio" id="passionate" name="mirex" value=1>
		<label for="passionate">passionate, rousing, confident, boisterous, rowdy</label><br>

		<input type="radio" id="cheerful" name="mirex" value=2>
		<label for="cheerful">rollicking, cheerful, fun, sweet, amiablle, good natured</label><br>

		<input type="radio" id="bittersweet" name="mirex" value=3>
		<label for="bittersweet">literate, poignant, wistful, bittersweet, autumnal, brooding</label><br>

		<input type="radio" id="humorous" name="mirex" value=4>
		<label for="humorous">humorous, silly, campy, quirky, whimsical, witty, wry</label><br>

		<input type="radio" id="aggressive" name="mirex" value=5>
		<label for="aggressive">aggressive, fiery, tense, anxious, intense, volatile, visceral</label>
	</div>
</fieldset>
<input type="submit" name="submit" value="Submit">
</form>